<h1>Trainees list</h1><h2><%= t ".trainee" %> <%= @users.length %></h2>
<div class="row">
  <div class="col-sm-12">
    <input type="text" class="input-search" onkeyup="searchTbl(1, 'user')" id="searchBox-user"
      placeholder="<%= t(".search") %>">
  </div>
</div>
<table class="table table-hover" id="dataTbl-user">
  <thead>
    <tr>
      <th><%= t ".no" %></th>
      <th><%= t ".name" %></th>
      <th class="last-col"><%= t ".view_detail" %></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= link_to user.fullname, user_path(user) %></td>
        <td class="last-col"><%= link_to t(".view"), user_path(user), 
            class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
