<div class="row">
  <div class="col-sm-10">
    <input type="text" class="input-search" onkeyup="searchTbl(3, 'qs')" id="searchBox-qs"
      placeholder="<%= t(".search") %>" title="<%= t ".type_name" %>">
  </div>
  <div class="col-sm-2">
    <%= link_to t(".create_question"), "#", type: "button", class: "btn btn-success btn-lg", 
      data: { toggle: "modal", target: "#myModal" } %>
    <!-- Trigger the modal with a button -->
  </div>
</div>
<div class="col-md-12">
    <h3><%= t".list" %> <%= @questions.size %></h3>
    
    <% if @questions.size > 0 %>
      <table class="table table-hover" id="dataTbl-qs">
        <thead>
          <tr>
            <th><%= t ".no" %></th>
            <th><%= t ".qs_content" %></th>
            <th><%= t ".create_date" %></th>
            <th><%= t ".creator" %></th>
            <th><%= t ".delete" %></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each.with_index(1) do |question, index| %>
            <tr data-toggle="collapse" data-target="#demo<%= index %>">
              <td><%= index %></td>
              <td><%= question.question_content %></td>
              <td><%= I18n.l(question.created_at, format: :day_month_year_hour_minute) %></td>
              <td><%= question.user.fullname %></td>
              <td><%= link_to t(".delete"), question_path(tab: "question", question: question), method: :delete, class: "btn btn-danger" %></td>
            </tr>
            <tr id="demo<%= index %>" class="collapse">
              <td colspan="5">
                <%= render "/questions/question", question: question %>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>
    <% end %>
</div>
