<% provide(:button_text, t(".save")) %>

<div class="row col-xs-12">
  <ul class="nav nav-tabs tab-header">
    <li class="<%= current_tab(params[:tab], "about") %>"><a data-toggle="tab" href="#home"><%= t ".about" %></a></li>
    <li class="<%= current_tab(params[:tab], "question") %>"><a data-toggle="tab" href="#menu1"><%= t ".qs" %></a></li>
    <li class="<%= current_tab(params[:tab], "exam") %>"><a data-toggle="tab" href="#menu2"><%= t ".exam" %></a></li>
    <li class="<%= current_tab(params[:tab], "trainee") %>"><a data-toggle="tab" href="#menu3"><%= t ".trainee" %></a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade <%= current_tab_body(params[:tab], "about") %>">
      <%= render "subject_edit_form" %>
    </div>

    <div id="menu1" class="tab-pane fade <%= current_tab_body(params[:tab], "question") %>">
      <%= render "tab_question" %>
    </div>

    <div id="menu2" class="tab-pane fade <%= current_tab_body(params[:tab], "exam") %>">
      <div class="col-md-8">
        <%= link_to t(".create_exam"), "#" %>
      </div>

      <div class="col-md-8">
        <h3><%= t".list_exam" %> (<%= @exams.size %>)</h3>
        <ul class="exam">
          <% @exams.each do |exam| %>
            <li>
              <span class="question"><%= link_to exam.name, "#" %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div id="menu3" class="tab-pane fade <%= current_tab_body(params[:tab], "trainee") %>">
      <%= render "tab_trainees", available_trainees: @available_trainees, joined_trainees: @joined_trainees %>
    </div>

  </div>
</div>

<%= render "/questions/form" %>
