<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= t ".subject" %></th>
      <td><%= @exam.subject.name %></td>
    </tr>
    <tr>
      <th><%= t ".mark_require" %></th>
      <td><%= @exam.mark_require %></td>
    </tr>
    <tr>
      <th><%= t ".time_limit" %></th>
      <td><%= @exam.time_limit %></td>
    </tr>
    <tr>
      <th><%= t ".questions_counter" %></th>
      <td><%= @exam.questions_counter %><td>
    </tr>
  </tbody>
</table>
<%= form_for @exam, url: new_trainee_trainee_answer_sheet_path, method: :get do |f| %>
  <%= hidden_field_tag "exam_id", @exam.id %>
  <%= f.submit t(".attemp"), class: "btn btn-primary btn-block js-submit-btn" %>
<% end %>
