<div class="question-<%= question.id %>">
  <% question.hash_answers.each do |answer_key, answer_value| %>
    <div class="checkbox">
      <label>
        <input class="trainee-answer" type="checkbox" value="<%= answer_key %>"
          <%= question_attr(answer, answer_key) unless defined?(answer).nil? %> >
          <%= answer_key %> - <%= answer_value %>
      </label>
    </div>
  <% end %>
</div>
