<h1><%= t ".page_title" %></h1>

<div class="row">
  <div class="col-sm-9">
    <input type="text" class="input-search" id="searchBox-as" onkeyup="searchTbl(4, 'as')" placeholder="<%= t(".search") %>" title="<%= t ".type_name" %>">
  </div>
</div>

<div class="row">
  <table class="table" id="dataTbl-as">
    <thead>
      <tr>
        <th><%= t ".no" %></th>
        <th><%= t ".exam_name" %></th>
        <th><%= t ".start_time" %></th>
        <th><%= t ".finish_time" %></th>
        <th><%= t ".total_mark" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".view_detail" %></th>
      </tr>
    </thead>
    <tbody>
      <% @answer_sheets.each.with_index(1) do |answer_sheet, index| %>
        <%= render "answer_sheet", index: index, answer_sheet: answer_sheet %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @answer_sheets %>
</div>
