<hr>
<%= link_to subjects_path do %>
  <span class="glyphicon glyphicon-th-list"></span>&nbsp;
  <%= t ".subject_list" %>
<% end %>
<%= link_to new_user_path do %>
  <span class="glyphicon glyphicon-plus"></span>&nbsp;
  <%= t ".create_user" %>
<% end %>
<%= link_to users_path do %>
  <span class="glyphicon glyphicon-th-list"></span>&nbsp;
  <%= t ".trainee_list" %>
<% end %>

<div class="panel-group">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
          <span class="glyphicon glyphicon-chevron-right"></span> 
          <%= t ".shortcut" %>
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <% load_shortcut %>
      <% @shortcuts.each do |shortcut| %>
        <div class="panel-body"><b><%= link_to shortcut.name, edit_subject_path(shortcut.id) %></b></div>
      <% end %>
    </div>
  </div>
</div>
