<div class="jumbotron col-md-12 col-md-offset-0">
  <div class="row">
    <div class="col-xs-10">
      <h1><%= t ".exam" %> <%= @exam.name %></h1>
    </div>
    <div class="col-xs-2">
      <%= link_to t(".update_exam"), "#", type: "button", class: "btn btn-success btn-lg", 
        data: { toggle: "modal", target: "#modalExam" } %>
    </div>
  </div>
  <table class="table table-hover" id="dataTbl-ex">
      <tr>
        <th><%= t ".time_limit" %></th>
        <td><%= @exam.time_limit %></td>
      </tr>
      <tr>
        <th><%= t ".mark_require" %></th>
        <td><%= @exam.mark_require %></td>
      </tr>
      <tr>
        <th><%= t ".status" %></th>
        <td><%= @exam.status %></td>
      </tr>
      <tr>
        <th><%= t ".creator" %></th>
        <td><%= @exam.user.fullname %></td>
      </tr>
      <tr>
        <th><%= t ".subject" %></th>
        <td><%= @exam.subject.name %></td>
      </tr>
      <tr>
        <th><%= t ".answersheet" %></th>
        <td><%= @exam.trainee_answer_sheets.count %></td>
      </tr>
      <tr>
        <th><%= t ".average" %></th>
        <td><%= @exam.average_time %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= render "/exams/form" %>
<div class="row col-xs-12">
  <ul class="nav nav-tabs tab-header">
    <li class="<%= current_tab(params[:tab], "about") %>"><a data-toggle="tab" href="#home"><%= t ".about" %></a></li>
    <li class="<%= current_tab(params[:tab], "as") %>"><a data-toggle="tab" href="#menu1"><%= t ".as" %></a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade <%= current_tab_body(params[:tab], "about") %>">
      <div id="questionTbl">
        <%= render "/exams/question_table" %>
      </div>
    </div>

    <div id="menu1" class="tab-pane fade <%= current_tab_body(params[:tab], "as") %>">
      <%= render "/exams/answersheet_table" %>
    </div>

  </div>
</div>
